<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>My Cart</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ReThink</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/shopper/products">Products</a>
                </li>
                <% if(currentUser) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="/shopper/scanner">Scan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shopper/wishlist">Wishlist</a>
                    </li>
                    <% } %>
            </ul>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <% if(!currentUser) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopper/login">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shopper/register">Register</a>
                        </li>
                        <% } else {%>
                            <li class="nav-item">
                                <a class="nav-link" href="/shopper/logout">Log Out</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/shopper/cart"><i class="fa fa-shopping-cart"></i></a>
                            </li>
                            <% } %>

                </ul>
            </div>
        </div>
    </nav>



    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-auto text-center">
                <div class="card my-3 shadow bg-body rounded" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://media.istockphoto.com/photos/shopping-cart-full-of-food-on-yellow-background-grocery-and-food-picture-id1316968335?b=1&k=20&m=1316968335&s=170667a&w=0&h=PkK1r12jvNs3CiCsQIBFcTa0SO1kG5ZdsK_7Rz4PxyQ="
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">My Cart</h4>
                        <% if (cart !==null && cart.totalPrice !== 0) { %>
                            <p>Total: <%= cart.totalPrice / 100 %> <span>&#8364;</span>
                            </p>
                            <% } else { %>
                                <p>There are no products in your cart yet!</p>
                                <% } %>

                    </div>
                    <% if (cart !==null) { %>
                        <ul class="list-group list-group-flush">
                            <% for (let product of cart.contents) {%>
                                <li class="list-group-item">
                                    <%= product.name %>, <%= product.price / 100 %> <span>&#8364;</span>
                                            <form action="/shopper/deletefromcart/" method="POST">
                                                <input type="hidden" name="barcode" value="<%= product.barcode %>" />
                                                <button class="btn btn-sm btn-danger">Delete</button>
                                            </form>
                                </li>

                                <% } %>
                        </ul>

                </div>
                <% if (cart !==null && cart.totalPrice !== 0) { %>
                <form action="/shopper/payment" method="POST">

                    <input type="hidden" id="cart" name="cart" value='<%= `${JSON.stringify(cart)}` %>'>
                    <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="<%= key %>"
                        data-amount="<%= cart.totalPrice %>" data-currency="eur">
                        </script>
                </form>
                <% } %> 
            </div>

        </div>

    </div>


    <% } %>



</body>

</html>